<div class="container">
  <h1>Pick your choice: </h1>
  <div class="category" *ngFor="let vehicleCategory of vehicleCategoryList">
    <h2>{{ vehicleCategory.name }}</h2>
    <mat-grid-list cols="8" rowHeight="1:1" [gutterSize]="'10px'">
      <mat-grid-tile *ngFor="let vehicleModel of vehicleCategory.vehicleModels">
        <div>
          <a (click)="openDialog()">
            <img class="vehicle-img" src="../../../assets/images/car.png" alt="Car photo">
            <p> {{ vehicleModel.name }}</p>
          </a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br><br>
  </div>
</div>
