<div class="container">
  <div class="login-card">
    <div class="sticky-top"></div>


    <div class="form-wrapper">
      <div class="title-wrapper">
        <img class="lhind-icon" src="../../../assets/images/lhind-icon.png" alt="LHIND icon">
        <h1>Login</h1>
      </div>
      <form class="login-form">
        <mat-form-field class="email-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" required>
        </mat-form-field>

        <mat-form-field class="password-field" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput required>
        </mat-form-field>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Forgot password?</a>

        <button routerLink="/" mat-raised-button color="primary">Login</button>
      </form>
    </div>
  </div>

  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
</div>
