@import "../../stylings/variables";

mat-toolbar {
  h1 {
    font-weight: 900;
    color: $primary-color;
  }
}

mat-nav-list {
  a {
    font-size: 14px;
    color: $primary-color;

    mat-icon {
      margin-top: 7px;
      font-size: 18px;
    }
  }
}

.close-btn {
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #FAAE31;
  color: #fff;
  border-radius: 3px;
  padding-top: 2px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  width: 180px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
