@import "../../stylings/variables";

.login-form {
  padding: 0px 20px;
}

.login-card {
  width: 400px;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  z-index: 10;
  padding-bottom: 30px;

  h1 {
    text-align: center;
    font-weight: 800;
    font-family: $primary-font;
    color: $primary-color;
    margin: 20px 10px;
  }

  a {
    color: #536976;
    text-decoration: underline;
  }
}

.sticky-top {
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
  background: rgba(0, 31, 71, .8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(250, 174, 49, .4);
  z-index: 100;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 10px;
  left: 20px;
  width: 100px;
  height: 100px;
  background: #536976;
  background: -webkit-linear-gradient(to right, #292E49, #536976);
  background: linear-gradient(to right, #292E49, #536976);
  opacity: .3;
  z-index: 0;
}


.circle2 {
  bottom: -100px;
  left: 100px;
  width: 400px;
  height: 400px;
  background: #e52d27;
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #b31217, #e52d27);
  opacity: .3;
}

.circle3 {
  right: -300px;
  top: 10px;
  width: 500px;
  height: 500px;
  background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
  background: linear-gradient(to right, #8E54E9, #4776E6);
  opacity: .4;
}

.form-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;

}

.login-form {
  mat-form-field {
    width: 100%;
  }

  button {
    display: block;
    margin: 20px auto;
  }
}

.lhind-icon {
  width: 40px;
  height: 40px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}