<div class="container">
  <div class="login-card">
    <div class="sticky-top"></div>


    <div class="form-wrapper">
      <div class="title-wrapper">
        <img class="lhind-icon" src="../../../assets/images/lhind-icon.png" alt="LHIND icon">
        <h1>Forget Password</h1>
      </div>
      <form [formGroup]="forgetPasswordForm"  class="login-form">
        <mat-form-field class="email-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Email" required>
        </mat-form-field>
        <button routerLink="/" mat-raised-button color="primary">Send</button>
      </form>
    </div>
  </div>

  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
</div>
