<header>
  <div class="container">
    <img class="logo" src="/assets/images/logo.png" alt="Lufthansa Logo">

    <ul class="nav-links">
      <li>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <a routerLink="/">Home</a>
      </li>

      <li>
        <mat-icon>graphic_eq</mat-icon>
        <a routerLink="/application/list">Your Applications</a>
      </li>

      <li>
        <mat-icon class="exit-icon" title="Log Out">exit_to_app</mat-icon>
      </li>
    </ul>

  </div>
</header>