<div class="container">
  <div class="typewriter-container">
    <h1 class="typewriter">Careful! We may be too cheap & qualitative.</h1>
    <div class="typewriter-bg"></div>
  </div>

  <app-vehicle-category-list></app-vehicle-category-list>

  <hr>

  <section class="about-section">
    <h2>Why you should rent a car?</h2>
    <p>
      When we think about renting a car, we usually think about something that is done for business trips, or when you
      fly
      somewhere for a holiday. While these are, of course, great times to rent a car, it’s not the only time that
      renting
      a car should be a consideration. Rental cars are a great idea for so many other occasions! Car rental deals make
      it
      easy and affordable to rent for any number of reasons, here are our favorite five!
    </p>

    <h3>
      <mat-icon>looks_one</mat-icon> Save Wear on Your Car
    </h3>
    <p>
      Whether you have a new car and you want to keep the mileage low, or you have an old car and you’re trying to keep
      it
      going, renting a car is a great way to save the wear on your vehicle. Rather than take your auto on the highway
      for
      a cross-country journey, consider renting a car for that next road trip! Rental car companies keep their cars in
      tip-top shape, with regular oil changes, and fully operating safety features.
    </p>

    <h3>
      <mat-icon>looks_two</mat-icon> Drive Something More Comfortable
    </h3>
    <p>
      Speaking of road trips, maybe you drive something that isn’t soft and cushy. Maybe you’re heading out on a road
      trip
      this holiday season and you want to visit all your family members from here to Missouri, but the seats in your
      pick-up leave your rear feeling numb on the highway after an hour. Long drives are the perfect time to rent! Pick
      out a luxury rental car, something with leg room, something that glides across the highways like Frank Sinatra’s
      voice on silk. Choose a car with a large trunk to hold all your luggage or enough passenger room for you and your
      whole family. There’s nothing worse than trying to pack everyone into a sub-compact car for a ten-hour trip!
    </p>

    <h3>
      <mat-icon>looks_3</mat-icon>  A True Test Drive
    </h3>
    <p>
      Have you been thinking about buying that new car? Rather than just getting the five minutes around the block with
      a
      dealer panting in your ear about all the great features of your potential new ride, take it for a weekend trip.
      Get
      to know what you are getting into. Car rental deals make it affordable to try before you buy, and some car rental
      companies even sell cars. Take it out on the highway for a trip, see how it feels to drive in rush hour traffic.
      Learn the quirks for a few days, rather than finding out that there is that one thing that you find completely
      annoying after you buy.
    </p>

    <h3>
      <mat-icon>looks_4</mat-icon> Save Gas
    </h3>
    <p>
      You love your hot rod, or maybe it’s your big truck, but you it gets about 8 miles to the gallon. Driving down to
      see your folks costs an arm and a leg in fuel, so why not pick up an economy rental car that saves you more money
      in
      gas? You aren’t even stuck with just driving a Prius that Crazy Uncle Eddy is going to make fun of you for
      driving,
      the Honda HR-V LX gets a combined city/highway fuel efficiency of 31 miles per gallon. If an SUV isn’t your thing,
      look into the Dodge Ram 1500 with the 6 cylinder engine that runs 24 miles combined. Of course, if you are just
      looking to get flat out good gas mileage, that Prius is the way to go, with the newest models getting 56 miles per
      gallon. Imagine cutting your gas bill by a third!
    </p>

    <h3>
      <mat-icon>looks_5</mat-icon> Just to Show Off
    </h3>

    <p>
      There are plenty of reasons to want to improve your image. Maybe your high school reunion is this Friday, and
      you’re
      looking at your old beater hooptie. Your high school crush is going to be there, and you want to impress them with
      how well you are doing. Driving up in your 20-year-old car whose bumper is falling off, with mirrors held on with
      duct tape is not going to help that image. It could be that you are going to a job interview and you don’t want to
      have a seat cushion poking holes in your freshly pressed interview suit. No matter what the event is, nothing
      makes
      a first impression better than rolling up in a great looking car.
    </p>

    <p>
      There are so many reasons when renting a car makes a lot of sense. Whether you are looking to make a great first
      impression, or just trying to fit the whole family in the car for a ride to grandma’s house in the mountains,
      renting a car is a great idea. If you live in a city where public transportation is the best bet and you have
      given
      up the cost of car ownership, rental cars are the perfect pay-as-you-need way to save money on car payments and
      insurance.
    </p>
  </section>
</div>
