<h1>{{ title }}</h1>

<form [formGroup]="addEditUserForm">
  <mat-form-field appearance="fill" required="required">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput  formControlName="lastName" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput  formControlName="username"required>
  </mat-form-field>
  <br>
  <mat-form-field type="email" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput  formControlName="email" required>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" (click)="addUpdateUser()">{{ action }}</button>
</form>
