  <div class="vehicle-category-list">
    <div class="vehicle-category-card" *ngFor="let vehicleCategory of vehicleCategoryList">
      <h1>
        <mat-icon>trip_origin</mat-icon>{{ vehicleCategory.name }}
      </h1>
      <img class="category-img" src="../../../assets/images/car.png" alt="Picture of a car">
      <p class="content">
        {{ vehicleCategory.description }}
      </p>
      <button routerLink="/home/vehicle/list" mat-raised-button color="primary">See more</button>
      <div class="stripe"></div>
    </div>
  </div>
