  <div class="vehicle-category-list">
    <div class="vehicle-category-card">
      <h1>
        <mat-icon>trip_origin</mat-icon>Car
      </h1>
      <img class="category-img" src="../../../assets/images/car.png" alt="Picture of a car">
      <p class="content">
        Reserve a new, clean car and a driver will bring it to you, whenever you need it.
      </p>
      <button mat-raised-button color="primary">Our cars</button>
      <div class="stripe"></div>
    </div>
    <div class="vehicle-category-card">
      <h1>
        <mat-icon>trip_origin</mat-icon>Van
      </h1>
      <img class="category-img" src="../../../assets/images/van.png" alt="Picture of a van">
      <p class="content">
        Our minivans and passenger vans can seat up to 7 and 15
        passengers respectively and are great for family vacations or accommodating large groups.
      </p>
      <button mat-raised-button color="primary">Our vans</button>
      <div class="stripe"></div>
    </div>
    <div class="vehicle-category-card">
      <h1>
        <mat-icon>trip_origin</mat-icon>Sport utility vehicle
      </h1>
      <img class="category-img" src="../../../assets/images/suv.png" alt="Picture of a suv">
      <p class="content">
        Full-size SUVs are great for weekend road trips and special occasions. Start a reservation to see pricing and
        availability for daily and weekly rentals.
      </p>
      <button mat-raised-button color="primary">Our SUVs</button>
      <div class="stripe"></div>
    </div>
  </div>
