.sidenav-btn {
    position: fixed;
    top: 50%;
    left: 0%;
    z-index: 10;
    background-color: #FAAE31;
    border: solid 1px #FAAE31;
    color: #fff;
    cursor: pointer;
}

.allButFooter {
    min-height: calc(100vh - 40px);
}