<h1><mat-icon>schedule</mat-icon> Rent a vehicle</h1>

  <mat-form-field appearance="fill">
    <mat-label>Select Vehicle</mat-label>
    <mat-select [formControl]="vehicleControl">
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let vehicleCategory of vehicleCategoryList" [label]="vehicleCategory.name">
        <mat-option *ngFor="let vehicleModel of vehicleCategory.vehicleModels" [value]="vehicleModel.id">
          {{ vehicleModel.name }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <p class="price">*May your journey be free from stress and bring you home safely</p>

  <button mat-raised-button color="primary">Send Request</button>
